<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Koffeinfrei.MinusShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Koffeinfrei.MinusShare.Properties.Settings>
            <setting name="DownloadUrlFormat" serializeAs="String">
                <value>https://github.com/downloads/koffeinfrei/MinusShare/minus-share_setup_{0}.msi</value>
            </setting>
            <setting name="VersionUrl" serializeAs="String">
                <value>https://github.com/koffeinfrei/zueribad-wintray/raw/master/version.txt</value>
            </setting>
        </Koffeinfrei.MinusShare.Properties.Settings>
    </applicationSettings>
</configuration>